.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: -90px;
}

[data-color-theme="dark"] .modal {
  background-color: black;
  color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #1e293b;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.text {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 0.5rem;
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

[data-color-theme="dark"] .button {
  border: 1px solid #1e293b;
}

.button:hover {
  background-color: #005ff2;
}

[data-color-theme="dark"] .button:hover {
  background-color: #1b202e;
}

.title {
  letter-spacing: 0.1rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Radio Button Styling */
.fieldset {
  border: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.label {
  font-size: 1.1em;
  margin-left: 8px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.radio {
  display: none;
}

/* Custom radio button styles */
.radio + .label {
  position: relative;
  padding-left: 30px;
  transition: color 0.3s;
}

/* Circle design for radio button */
.radio + .label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Filled circle for selected state */
.radio:checked + .label:before {
  background-color: black;
  border-color: white;
}

/* Change label color when selected */
.radio:checked + .label {
  color: black;
}

/* Add hover effect 
.radio + .label:hover {
  color: white;
}

.radio + .label:before:hover {
  border-color: white;
}*/

[data-color-theme="dark"] .radio:checked + .label:before {
  background-color: white;
}

[data-color-theme="dark"] .radio:checked + .label {
  color: white;
}
