.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scoreWrapper {
  display: flex;
  gap: 10px;
}

.iconWrapper {
  display: flex;
  gap: 10px;
}

.confettiWrapper {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  pointer-events: none;
}

[data-color-theme="dark"] .scores {
  color: white;
}
